.aboutClass{
    /* position: relative;  */
    top: 0; 
    left: 0; 
}

.bgImg{
    max-width: 100%;
    margin-top: 5%;
}

.aboutContainer{
  max-width: 900px;
    border-bottom: #dddddd solid 1px;
}

.contentLeft{
    opacity: 1;
    position: absolute;
    right: 75%;
    left: 5%;
    top: 25%;
    color: #333333;
    font-weight: normal;
    text-decoration: none;
}


.contentRight{
    opacity: 1;
    position: absolute;
    right: 5%;
    left: 75%;
    top: 25%;
    color: #333333;
    font-weight: normal;
    text-decoration: none;
}

@media (max-width: 800px)  {

    .description h1{
        font-size: x-large;
    }
    .description p{
        display: none;
    }
    .downloadBtn{
        position: relative;
        font-size: medium;
    }
    }

    @media (max-width: 600px)  {
        .contentLeft .description h1{
            font-size: medium;
        }
        .contentRight .description h1{
            font-size: medium;
        }
        .contentLeft .description .p  .a .span{
            font-size: small;
        }
        .downloadBtn{
            position: relative;
            font-size: small;
        }
    }


    .downloadBtn{
       color: #333333;
    }

    .downloadBtn:hover{
     color: gray;
    }