.projectContainer{
    padding-top: 5%;
    padding-bottom: 5%;
    /* height: 100vh; */
    background-color: #fafafa;
    width: 100%;
    text-decoration: none;  
    position: relative;
    justify-content: center;
    align-items: center;
}

.header-center{
    height: 1px;
    background: #dddddd;
    margin-bottom: 3.2rem;
    position: relative;
}

.header-center h3{
    background: #fafafa;
    position: absolute;
    top: -0.8rem;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    text-align: center;
    display: block;
    color: #757575;
    text-transform: uppercase;
    font-size: 12px;
    font-size: 1.0rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
    padding: 0 !important;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
.card-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

@media (max-width: 800px)  {

    .description h1{
        font-size: x-large;
    }
    .description p{
        display: none;
    }
    
    .projectContainer{
        height: 100%;
    }}

    @media (max-width: 600px)  {
        .contentLeft .description h1{
            font-size: medium;
        }
        .projectContainer{
            padding-top: 10%;}
    }


    .appCard{
        background-color: white;
        /* height: 100%; */
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        color: #262626;
    }
    
    .appCard:hover{
        transition: .1s;
        box-shadow: 1px 3px 10px rgb(51 51 51 / 10%);
    }

        .imgCard{
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            width: 150px;
            height: 150px;
            border-radius: 25px;
        }
       
        .appCard.hovered {
            height: auto;
          }
          
          
          